<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="14" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://fes2021.litphil.sinica.edu.tw/active2021" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="4" path="https://fes2021.litphil.sinica.edu.tw/active2021" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="14" path="https://fes2021.litphil.sinica.edu.tw/active2021" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://fes2021.litphil.sinica.edu.tw/active2021" responseMode="Redirect" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="Content-Security-Policy" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
